.search-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  &-input {
    margin-right: 10px;
    padding-bottom: 2px;
    border-top: 2px;
    font-size: 20px;
    border:  $border;
    border-radius: $border-radius;
  }
  &-button {
    font-size: 20px;
    background-color: white;
    border: $border;
    border-radius: $border-radius;
    cursor: pointer;
  }
}
